* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    background: #05697a;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.calculator {
    width: 400px;
    height: 650px;
    box-shadow: 4px 4px 30px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background: #7b8cb9;
    overflow: hidden;

}

form input {
    width: 100%;
    height: 150px;
    border: none;
    border-radius: 12px;
    font-size: 3rem;
    color: rgb(24, 24, 20);
    background: rgb(245, 233, 233);
    text-align: right;
    pointer-events: none;

}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 16px;

}

button {
    flex: 0 0 22%;
    margin: 5px 0;
    border: 1px solid #000;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: 500;
    border-radius: 5px;
    cursor: pointer;

}

.btn-yellow {
    background-color: rgb(245, 145, 60);
    color: white;     
}

.btn-grey {
    background-color: rgb(224, 224, 224);

} 

.btn-equal {
    background: rgb(16, 201, 16);
}

.btn-clear {
    background: rgb(145, 33, 33);
}

.btn-delete {
    background: red;
}